.cardContainer{
   
  display: flex;
  background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.13);
    border-radius: 12px;
    gap: 8%;

}
.cardLeft{
    padding: 2%;
    flex: 0.7;
}
.Container{
    padding: 3%;
}

.img{
   
    padding-top: 3%;
    width: 100%;
}
.productRating{
    padding-top: 1%;
    display: flex;
    align-items: center;
    font-family: "Roboto";
}
.rating{
    color: #e59819;
    margin: 0;
    padding: 0;
    font-size: 22px;
}
.star{
    
    color: #e59819;
}
.starIcon{
    width: 33px;
}
.starCount{
    font-size: 20px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    color: #5f5f5f;
}
.enrolled{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
 
    color: #5F5F5F;
}
.cardRight{
    display: flex;
    flex-direction: column;
    padding: 2%;
    flex: 2;
}
.cardRightTitle{
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    padding-left: 16%;
    font-size: 20px;
    color: #0b6e4f;
}
.cardRightTable{
    display: flex;
    justify-content: space-between;
   padding-left: 5%;
   padding-right: 5%;
    /* justify-content: center; */
    /* align-items: center; */
}
.TableList{
    display: flex;
    width: 100%;
  
}
.buttonContainer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.button{
    background: #13AE7E;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    color:#FFFFFF;
    font-family: 'Roboto';
    margin-top:5%;
    padding: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-style: none;
    font-size: 120%;
    font-style: normal;
    font-weight: 700;
}
.TableListLeft{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.TableListRight{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.row{
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
}
.points{
    flex: 1;
    display: flex;
    align-items: center;
    margin-bottom: 2%;
    gap: 2%;
}
.listIcon{
    color: #0b6e4f;
}
.pointsText{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;

}
.cardRightTitleContainer{
    display: flex;
    transform: translateX(10%);
    /* justify-content: center; */
}
@media only screen and (max-width:1000px){
    .cardContainer{
   
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        align-items: center;
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.13);
          border-radius: 12px;
          gap: 8%;
      
      }
      .img{
        
        padding-top: 3%;
        width: 80%;
    }
    .cardLeft{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2%;
        flex: 0.7;
    }
    .cardRight{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0%;
        width: 100%;
    }
    .cardRightTitleContainer{
       
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
       
    }
    .cardRightTitle{
        text-align: center;
        padding-left: 0%;
    }
    .cardRightTable{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .TableListLeft{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .points{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .buttonContainer{
        display: flex;
        justify-content: center;
        width: 50%;
        margin-bottom: 3%;
    }
    .button{
        background: #13AE7E;
        box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        color:#FFFFFF;
        font-family: 'Roboto';
        margin-top:5%;
      
        padding: 6%;
        padding-top: 1%;
        padding-bottom: 2%;
        border-style: none;
        font-size: 120%;
        font-style: normal;
        font-weight: 700;
    }
}